body{
    background-color: black ;
    color: white;
}
.titulo{
    color: white;
    text-align: center;
    display:flex;
    justify-content:center;
    align-items:center;
    width:100%;
    gap:100px;   
}
img{
    float: right;
    width: 150px;
}
a{
    text-decoration: none;
    color: white;
    border: 1px solid #22D4FD;
}
